[submodule "superpoint_superglue_deployment/SuperGluePretrainedNetWork"]
	path = superpoint_superglue_deployment/SuperGluePretrainedNetWork
	url = https://github.com/magicleap/SuperGluePretrainedNetwork.git
